<h1> Post New Content to Awesome Blog</h1>
<p>This is where the dudes hang out.</p>
<p>The Cool Dudes that is.</p>

<%= form_for :post,  url: posts_path do |f| %>
<p>
  <%=f.label :title  %>
  <%= f.text_field :title %>
</p>
<p>
  <%=f.label :content  %>
  <%=f.text_area :content  %>
</p>
Praise? <%= f.check_box :check %>
Complaint?<%= f.check_box :check %><br>
<%=f.submit :SUBMIT  %>

<%end%>
