<h1> Post New Content to Awesome Blog</h1>
<p>This is where the dudes hang out.</p>
<p>The Cool Dudes that is.</p>

<%= form_for :post,  url: posts_path do |f| %>
<p>
  <%=f.label :title  %>
  <%= f.text_field :title %>
</p>
<p>
  <%=f.label :content  %>
  <%=f.text_area :content  %>
</p>
Great Movie <%= f.check_box :check %>
Terrible Movie <%= f.check_box :check %><br>
<%=f.submit :SUBMIT  %>

<%end%>

<%= link_to 'Home', posts_path %>
<%= link_to 'Back', posts_path %>